/* ------------ GÉNÉRAL ------------ */

html, body { 
	font: 12px 
	Verdana, sans-serif; 
	color: #000; 
	height: 100%;
}
a { 
	color: #eee; 
}
a:hover { 
	color: white; 
	text-decoration: none;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	border-bottom: 1px dashed;
	color: #007f63;
	margin: 20px 0px 0px 0px;
	text-transform: uppercase;
	width: 100%;
}
h2 span {
	font-weight: 500;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.4em;
	color: #007f63;
	margin-top: 15px;
	margin-bottom: 10px;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #007f63;
	margin-bottom: 5px;
}
select {
	outline: 0;
	border: 1px solid #9b908a;
	width: 370px;
	padding: 4px 4px 4px 10px;
	color: #FFF;
	border-radius: 5px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38332f', endColorstr='#110f0d',GradientType=0 ); /* IE6-9 */
	background-color: #006a57;
	background-repeat: no-repeat, repeat;
	background-position: 99% 0%, top left;
}
select[disabled] { 
	color: #CCC;
}
input[disabled] {
	color: #CCC !important;
}
select option, select optgroup {
	background: #1294cf;
}
#effacer, #soumission {
	width: 146px;
	text-transform: uppercase;
	margin-right: 10px;
	border: 1px solid #9b908a;
	float: left;
	padding: 4px;
	color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #38332f; /* Old browsers */
	background: -moz-linear-gradient(top,  #38332f 0%, #4d4844 51%, #110f0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38332f), color-stop(51%,#4d4844), color-stop(100%,#110f0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #38332f 0%,#4d4844 51%,#110f0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #38332f 0%,#4d4844 51%,#110f0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #38332f 0%,#4d4844 51%,#110f0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #38332f 0%,#4d4844 51%,#110f0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38332f', endColorstr='#110f0d',GradientType=0 ); /* IE6-9 */
}

/* ------------ ENTÊTE ------------ */

#conteneur-piv {
	width: 100%;
	height: 100px;
	background: #FFF;
	padding-bottom: 5px;
}
#entete { 
	height: 80px; 
	position: relative; 
	top: 0;
	border-bottom: 3px solid #c8cd1c; 
	border-top: 3px solid #c8cd1c; 
	width: 100%; 
}
#conteneur-entete {
	width: 960px;
	margin: 0 auto;
	height: 80px;
	position: relative;
	z-index: 222;
}
#conteneur-entete #logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.conteneur-nav { 
	position: absolute;
	font-family: 'Roboto', sans-serif;
	right: 0;
	z-index: 111;
	width: 960px;
	height: 45px;
}

/* Clearfix */
.groupe:after { 
	visibility: hidden; 
	display: block; 
	content: ""; 
	clear: both; 
	height: 0; 
}
*:first-child+html .groupe { 
	zoom: 1; 
}

#nav { 
	list-style: none; 
	position: relative; 
	float: left;
	width: 960px;
	margin-left: 5px;
	font-style: italic;
}
#nav li { 
	display: inline;
}
#nav a { 
	color: #bbb; 
	font-size: 12px; 
	float: left;
	padding: 11px 13px 13px 13px;
	text-decoration: none;
	text-align: center;
}
#nav a:hover { 
	color: white; 
}
.current_page_item a { 
	color: white !important; 
}
.ie6 #nav li, .ie7 #nav li { 
	display: inline; 
}

/* ------------ CONTENU ------------ */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -203px; /* the bottom margin is the negative value of the footer's height */
	background-color: #f1f1f1;
}
#contenu {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
#contenu .col-gauche {
	width: 960px;
	float: left;
}
#contenu .col-gauche .intro {
	margin-bottom: 12px;
}
#contenu .col-gauche p.lien {
	line-height: 1.7em;
}
#contenu a {
	color: #000;
}
#contenu .dernier {
	margin-bottom: 15px;
}
#contenu .col-1 {
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px dashed #007f63;
}
#contenu .col-3 {
	width: 100%;
	border-bottom: 1px dashed #007f63;
}
#contenu .col-3 select {
	margin-bottom: 3px;
}
#contenu .col-3 div {
	width: 312px;
	float: left;
	padding-left: 10px;
	padding-bottom: 15px;
}
#contenu .col-3 div.premier {
	border-right: 1px dashed #007f63;
	padding-left: 0px;
}
#contenu .col-3 div.dernier {
	border-left: 1px dashed #007f63;
}
#contenu .col-3 div select {
	width: 370px;
}
#contenu #affichage {
	width: 100%;
	float: left;
}
#contenu .conteneur-arbre {
	float: left;
	width: 100%;
}
#conteneur-boite div.boite:nth-child(4n+4) {
	margin-right: 0px;
}
#contenu .boite {
	width: 500px;
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	padding-bottom: 3px;
	background: #c6e1d9;
	min-height: 300px;
}
#contenu .boite .titre {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	padding: 7px;
	margin-bottom: 3px;
	background: #006a57;
}
#contenu .boite ul li a {
	display: block;
	padding: 4px 4px 4px 7px;
	color: #1a1715;
}
#contenu .boite ul li a:hover {
	background: #d7ede6;
	/*color: #fff;*/
}
#contenu #resultats ul {
	list-style-type: disc;
	width: 660px;
	color: #006a57;
	margin: 10px 0px 0px 20px;
}
#contenu #resultats ul li {
	float: left;
	width: 650px;
}
#contenu #resultats ul li a {
	color: #006a57;
	display: block;
	padding: 4px;
}
#contenu #resultats ul li a:hover {
	background: #c6e1d9;
}
#contenu .bas {
	margin-top: 15px !important;
}
#contenu #telechargement {
	width: 100%;
	text-align: right;
	float: right;
	margin-bottom: 15px;
}
#contenu #telechargement #texte {
	width: 150px;
	float: right;
	color: #1c7362;
	padding-top: 10px;
}
#contenu #telechargement #icones {
	width: 70px;
	float: right;
}
#contenu ul#plan {
	margin-top: 15px;
	line-height: 1.5em;
	list-style: disc;
	list-style-position: inside;
}
#contenu ul#plan li a {
	color: #000;
}
#contenu p.fil {
	margin-top: 3px;
	color: #007f63;
}
#contenu p.fil a {
	color: #007f63;
}

/* ------------ PIED DE PAGE ------------ */

#piedpage {
	position: relative;
	width: 100%;
	border-top: 3px solid #c8cd1c;
	height: 200px;
}
#piedpage, .push {
	height: 200px;
	clear: both;
}
#conteneur-piedpage {
	position: relative;
	z-index: 999;
	width: 960px;
	z-index: 100;
	margin: 0 auto;
	height: 200px;
}
#conteneur-piedpage ul {
	font-family: 'Roboto', sans-serif;
	float: left;
	margin-top: 12px;
	list-style-type: none;
	width: 900px;
}
#conteneur-piedpage ul li {
	color: #bbb;
	display: block;
	float: left;
	padding: 0px 16px 2px 16px;
	border-right: 1px solid;
}

#conteneur-piedpage ul li a {
	font-style: italic;
	text-decoration: none;
	color: #bbb; 
}
#conteneur-piedpage #logos img.image2{
	float: right;
}
div.erreur {
	margin-top: 20px;
	padding: 12px 12px 12px 55px;
	border: 1px solid #860000;
	color: #860000;
	width: 565px;
}

/* ------------ TABLEAU ------------ */

#conteneurTableau, #conteneurReferences  {
    position: relative;
    clear: both;
    padding-bottom: 20px;
}
#conteneurTableau .scrollTop {
    position: absolute;
    width: 30px;
    top: 0px; right: -35px;
}
#conteneurReferences .scrollTop {
    position: absolute;
    width: 30px;
    top: 25px; right: -35px;
}
#conteneurTableau .scrollBottom, #conteneurReferences .scrollBottom {
    position: absolute;
    width: 30px;
    bottom: 15px; right: -35px;
}
table {
    margin-top: 15px;
}
table h1, table h2, table h3 {
    text-transform: uppercase;
    border: 0px;
    color: #FFF;
    margin: 7px !important;
}
table h1 {
    font-size: 1.5em;
    font-weight: 300;
}
table h2 {
    font-size: 1.4em;
    font-weight: 400;
}
table h3 {
    text-transform: none;
    font-size: 1em;
}
th {
    text-align: left;
}
td ul {
    list-style-type: disc;
    list-style-position: inside;
}